includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    
    excludePaths:
        - app/Console/Kernel.php
        - app/Http/Kernel.php
    
    ignoreErrors:
        # Add known errors to ignore temporarily

