includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
    
    # Exclude paths that often contain code beyond our control
    excludePaths:
        - app/Console/Kernel.php
        - app/Http/Kernel.php
        - app/Providers/RouteServiceProvider.php

    # Ignore specific, common errors to focus on more critical issues first
    ignoreErrors:
        - '#PHPDoc tag @var#'
